<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bitcoin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Bitcoin</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/bitcoin/ticker?market=usdt">市场行情</a></li>
                        <li class="active"><a href="javascript:void(0)">币种管理</a></li>
                    </ul>
                </div>

            </nav>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="10%">币种CODE(<span style="color:red">*</span>)</th>
                    <th width="15%">币种描述</th>
                    <th width="15%" th:each="website : ${websites}" th:text="${website.code}"></th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="currencyGroup : ${currencyGroups}">
                    <td th:text="${currencyGroup.currency?.code}"></td>
                    <input name="code" type="hidden" th:value="${currencyGroup.currency?.code}"/>
                    <td><input name="desc" type="text" class="form-control" th:value="${currencyGroup.currency?.desc}" /></td>
                    <div th:each="websiteCurrency : ${currencyGroup.websiteCurrencies}">
                        <td>
                            <input name="websiteCode" type="hidden" th:value="${websiteCurrency.websiteCode}" />
                            <input name="customCurrency" type="text" class="form-control" th:value="${websiteCurrency.customCurrency}" />
                        </td>
                    </div>
                    <td style="text-align:center">
                        <button class="btn btn-success save">保存</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-warning delete">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container -->
<script>
    $(function() {
        $(".save").click(function(){

            var currencyGroup = createCurrencyGroup($(this));

            $.ajax({
                url:"/bitcoin/currency/save",
                data:JSON.stringify(currencyGroup),
//                dataType:"json",
                contentType:'application/json;charset=utf-8',
                type:"post",
                error:function(data){
                    alert("出错了！我也不知道是什么错！");
                },
                success:function(data){
                    if (!data.success) {
                        alert("有出错了！" + data.msg);
                    } else {
                        window.location.reload();
                    }
                }
            })
        });

        $(".delete").click(function(){
            var currencyGroup = createCurrencyGroup($(this));

            $.ajax({
                url:"/bitcoin/currency/delete",
                data:JSON.stringify(currencyGroup),
//                dataType:"json",
                contentType:'application/json;charset=utf-8',
                type:"post",
                error:function(data){
                    alert("出错了！我也不知道是什么错！");
                },
                success:function(data){
                    if (!data.success) {
                        alert("有出错了！" + data.msg);
                    } else {
                        window.location.reload();
                    }
                }
            })
        });

        function createCurrencyGroup(button) {
            var currencyGroup = new Object();
            currencyGroup.currency = new Object();
            currencyGroup.websiteCurrencies = new Array();
            button.parent().parent().find("input").each(function(i,input){
                if (input.name == "code") {
                    currencyGroup.currency.code = input.value;
                }

                if (input.name == "desc") {
                    currencyGroup.currency.desc = input.value;
                }

                var j = parseInt(i/2) - 1;
                if (input.name == "websiteCode") {
                    currencyGroup.websiteCurrencies[j] = new Object();
                    currencyGroup.websiteCurrencies[j].websiteCode = input.value;
                }

                if (input.name == "customCurrency") {
                    currencyGroup.websiteCurrencies[j].customCurrency = input.value;
                }
            });
            alert(JSON.stringify(currencyGroup));
            return currencyGroup;
        }
    });
</script>

</body>
</html>